.fondo{
    -fx-background-color:     #1c1c1c     ;
}
.menu{
     -fx-background-color: black ;
 }
 .lineaTop  {
 -fx-border-color : white ;
 -fx-border-width : 1 0 0 0 ;
 }
 .buscador {
 -fx-background-color : white;
 -fx-background-radius : 100;
 }
 .premium {
   -fx-background-color : #1c1c1c;
   -fx-border-color : white;
   -fx-border-radius : 50;
 }

 .scroll-pane > .viewport {
 -fx-background-color : #1c1c1c;
 }